.form {
  background: rgb(224, 224, 224);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px !important;
}

.has-error {
  border-color: #dc3545 !important;
  border-width: 3px !important;
}

label {
  text-align: left;
  width: 100%;
}

.submit:disabled{
  background-color: #91bdff !important;
}