body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(56, 70%, 50%) !important;
}

input {
  border-width: 1px;
  border-style: solid;
  border-color: hsl(56, 70%, 45%) !important;
}

.form {
  background: hsl(56, 70%, 90%);
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(56, 70%, 45%) !important;
  margin-top: 20px !important;
}

.formErrors {
  color: #dc3545;
  text-align: center;
}

.has-error {
  border-color: #dc3545 !important;
  border-width: 3px !important;
}

.submit:disabled{
  background-color: #91bdff !important;
}
